* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: auto !important;
    background-color: #fdfcdc !important;
    font-family: "New Amsterdam", sans-serif !important;
    font-style: normal !important;
    font-size: 21px !important;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #0081a7;
    width: 100%;
    padding: 25px !important;
    color: #fed9b7 !important;
}

.sweet {
    background-color: #f07167 !important;
    color: #fdfcdc !important;
}

.blue {
    background-color: #0081a7 !important;
    color: #fdfcdc !important;
}

.navbar-brand {
    color: #fdfcdc !important;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px !important;
}

.modal {
    color: black !important;
}

.libraryContainer {
    display: flex !important;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    gap: 75px;
    padding: 25px;
}

.card-header {
    display: flex;
    justify-content: end;
    background-color: #f07167 !important;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.card-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.feedback{
    display: flex;
    justify-content: end;
    font-family: Verdana, Geneva, sans-serif !important;
    color: #D32F2F;
    font-size: 13px;
}

